<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue-todo-list</title>
  <link rel="stylesheet" href="./todo-list.css">
</head>

<body>
  <section id='vue-todo-list' class="todo-list" v-cloak>
    <h1 class="title">{{title}}</h1>
    <section class="wrap">
      <section class="content">
        <div class="input-wrap">
          <span v-show='todoList.length' @click="changeToAllDone" class="all-done-btn" :class="{'all-done-btn-active': allDoneFlag}"></span>
          <input placeholder="what needs to be done?" class="input" type="text" v-model="todoVal" @keyup.enter="addItem"
            @keyup.esc="clearInput">
        </div>
        <ul class="item-list-ul">
          <li class="content-item" v-for="(todoItem, todoIndex) in filterTodoList" :key="todoIndex">
            <span @click="todoItem.done = !todoItem.done" class="check-box"
              v-bind:class="{'check-box-checked': todoItem.done}"></span>

            <span title="双击修改该项" @dblclick="modifyItem(todoIndex, todoItem.text)" class="todo-text" :class="{'todo-text-done': todoItem.done}">{{todoItem.text}}</span>

            <span class="todo-delete-btn" @click="deleteItem" :data-idx="todoIndex"></span>

            <input type="text" class="content-item-input"
            :class="{'content-item-input-active': todoIndex == editingItemIdx}" 
            v-todo-focus="todoIndex == editingItemIdx"
            @keyup.esc="cancelModifyItem(todoItem)"
            @blur="confirmModify"
            @keyup.enter="confirmModify"
            v-model="todoItem.text" />
          </li>
        </ul>
      </section>
      <footer class="footer">
        <span class="item-tips">{{itemTips}}</span>
        <a class="filter-btn" href="#/nodone" :class="{'filter-btn-active': filterCatelog == 'nodone'}">未完成</a>
        <a class="filter-btn" href="#/done" :class="{'filter-btn-active': filterCatelog == 'done'}">已完成</a>
        <a class="filter-btn" href="#/all" :class="{'filter-btn-active': filterCatelog == 'all'}">全部</a>
        <span v-show="hasSomeItemDone" @click="clearHasDone" class="item-clear-btn">clear completed</span>
      </footer>
    </section>
  </section>
</body>
<!-- <script src="./vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./todo-list.js"></script>

</html>